* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(45deg, #ff0000, #ffa500, #ffff00, #008000, #0000ff, #4b0082, #ee82ee, #ff0000);
  background-size: 1600% 1600%;
  -webkit-animation: Hintergrund 120s ease infinite;
  -moz-animation: Hintergrund 120s ease infinite;
  -o-animation: Hintergrund 120s ease infinite;
  animation: Hintergrund 120s ease infinite;
}
.title {
  float: left;
  font-size: 2vw;
  width: 50%;
  display: block;
  margin-top: 1em;
  text-align: center;
}
.inputButtons:after {
  content: "";
  display: table;
  clear: both;
  overflow: hidden;
  text-align: center;
}
.resetField, .resetStats {
  float: left;
  margin-top: 2em;
  width: 25%;
  display: block;
  padding: 5px 10px;
  font-size: 2vw;
  background-color: darkmagenta;
  border: .5vw solid black;
  border-radius: 10px 4px;
  -webkit-appearance: none;
  -webkit-border-radius: 10px 4px;
  z-index: 2;
}
.resetField:hover, .resetStats:hover {
  background-color: magenta;
  border-radius: 4px 10px;
  -webkit-border-radius: 4px 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.divField {
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  display: block;
  width: 50%;
}
.divField:after {
  content: "";
  display: block;
  padding-top: 100%;
}
.tableField {
  position: absolute;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}
.buttonDiv {
  position: relative;
  padding-bottom: 100%;
}
.button {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 7vw;
  text-align: center;
  background-color: darkorange;
  border: .5vw solid black;
  border-radius: 10px;
  -webkit-appearance: none;
  -webkit-border-radius: 10px;
  z-index: 2;
}
.button:hover {
  background-color:gold;
}
.divRound, .divScore {
  display: block;
  float: left;
  width: 25%;
  font-size: 2vw;
  text-align: center;
}
.tableScore th, .tableScore td {
  border: 0.2vw solid black;
  display: block;
  float: left;
  width: 46%;
  margin: 2% 2%;
  font-size: 1vw;
}
.tableScore {
  margin: 0 10%;
  width: 80%;
  border: 0.2vw solid black;
}

@-webkit-keyframes Hintergrund {
  0%{background-position:5% 95%}
  50%{background-position:95% 5%}
  100%{background-position:5% 95%}
}
@-moz-keyframes Hintergrund {
  0%{background-position:5% 95%}
  50%{background-position:95% 5%}
  100%{background-position:5% 95%}
}
@-o-keyframes Hintergrund {
  0%{background-position:5% 95%}
  50%{background-position:95% 5%}
  100%{background-position:5% 95%}
}
@keyframes Hintergrund {
  0%{background-position:5% 95%}
  50%{background-position:95% 5%}
  100%{background-position:5% 95%}
}